{% extends "layout.html" %}
{% block content %}
<img src = "{{ url_for('static', filename='img/' + phone.image_file) }}">

  <h2>{{ phone.model }}</h2>
  <p>Manufacturer: {{ phone.manufacturer.name }}</p>
  <p>{{phone.description}}</p>
  <p>Price: {{ phone.price }}</p>

  <p>Specifications:</p>
  <ul>
    <li>Mass: {{phone.mass}}g</li>
    <li>Ram: {{phone.ram}}gb</li>
    <li>Released on: {{phone.release_date}}</li>
  </ul>

  <a class="" href="/add_to_cart/{{phone.id}}">Add to Cart</a>

{% endblock content %}
