body {
  font-family:helvetica, sans-serif, Bookman;
  background: #2196f3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f44336, #2196f3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f44336, #2196f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
img {
    height:300px;
    width:30%;
  }
h1 {
  padding-left: 20px;
  font-family:sans-serif;
  color:#00008B;
  font-size: 50px;
  text-decoration: underline overline;
}

a {
  text-decoration:none;
  color:#00008B;
}

a:hover {
  color: #FF8300;
}

#header {
    padding:10px 100px;
    margin-left: auto;
    margin-right: auto;
    width: 32em;
    font-size:22px;
    overflow:auto;

}
